{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container d-flex justify-content-center">
    <div class="container">
        <div class="Hero-text row justify-content-center m-4">
            <section class="text-center col-12 col-md-8">
                <h2 class="main title">Dishcover Your Next Favorite Dish: Recipes for Every Taste</h2>
                <p class=" main-text pt-4">
                    Tired of eating the same 5 dishes over and over again?
                    Do you feel thr urge to share your delicious recipes?
                    Go ahead and Dishcover it all!
                </p>
            </section>
        </div>
        <div class="d-flex search-bar">
            <H4>Find the dish you want here:</H4>
            <form class="d-flex" method="GET" role="search" action="{% url 'recipes' %}">
                <input class="form-control me-2" name="q" type="search" placeholder="What recipe are you looking for?" aria-label="Search">
                <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </a>
        </div>
        <div class="cta-area-home row justify-content-center">
                <a href="{% url 'recipes' %}" class="image-container col-md-3 m-3" style="width: 20rem;">
                    <img src="{% static 'images/recipe-hero.jpg' %}" alt="image indicating Recipes page" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Recipes</div>
                    </div>
                </a>
                <a  href="{% url 'add_recipes' %}" class="image-container col-md-3 m-3" style="width: 20rem;">
                    <img src="{% static 'images/recipe-hero.jpg' %}" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Add Recipe</div>
                    </div>
                </a>
                <a  href="{% url 'about' %}" class="image-container col-md-3 m-3" style="width: 20rem;">
                    <img src="{% static 'images/recipe-hero.jpg' %}" alt="Avatar" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Collaborate with us</div>
                    </div>
                </a>
        </div>
    </div>
</div>

{% endblock %}