{% extends "base.html" %}

{% block title %} Edit Recipe {% endblock %}

{% block content %}
<div class="container">
    <!-- Form for editing a recipe -->
    <form method="post" enctype="multipart/form-data" class="form p-2">
        <h2>Edit Recipe</h2>
        {% csrf_token %} <!-- CSRF token for form security -->
        {{ form.media}}
        {{form | crispy}} <!-- Render the form fields with crispy forms for better styling -->
        <div class="form-button-container">
            <button type="submit">Update Recipe</button>
        </div>
    </form>
</div>
{% endblock %}