{% extends 'base.html' %}
{% load static %}

<!-- Block to set the title of the page dynamically using user's name-->
{% block title %}{{ user }} Favourites{% endblock %}

{% block content %}
<div class="container">
    <!-- Section for the page header -->
     <!-- Check if there are no favorite recipes -->
    {% if no_favorites %}
     <div class="no-results-message text-center">
         <h3>No recipes were saved to favorites.</h3>
         <!-- Link to view recipes if there are no favorites -->
         Check out recipes <a class="here-link link" href="{% url 'recipes' %}">here</a>.
     </div>
    {% else %}
    <div class="jumbotron text-center">
        <!-- page title and description -->
        <h1>Your favourite recipes</h1>
        <p class="lead">Here you can view or remove your liked recipes.</p>
    </div>
    <div class="row">
        
        
        <!-- Display favorite recipes if there are any -->
        <div class="container d-flex flex-row flex-wrap justify-content-center">
            {% for recipe in recipes %}
            <a href="{% url 'recipe_details' recipe.slug %}" aria-label="Click to view {{recipe.title}}">
                <div class="card m-3" style="width: 18rem;">
                    <img src="{{recipe.image.url}}" class="card-img-top img-fixed-size" alt="{{recipe.image_alt}}">
                    <div class="card-body">
                    <h4 class="card-title">{{recipe.title}}</h4>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}