{% extends "base.html" %}


{% block content %}
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        <div class="recipe-main-details">
            <div class="recipe-image">
                <img src="{{recipe.image.url}}" alt="{{recipe.image_alt}}">
            </div>
            <div class="recipe-info">
                <h2 class="recipe-title">{{recipe.title}}</h2>
                <p>{{recipe.description}}</p>
                <p>Posted by {{recipe.author}} on {{recipe.posted_on}}</p>
                <br>
                <p>Calories: {{recipe.calories}}</p>
                <p>Meal Category: {{recipe.category}}</p>
            </div>
        </div>
        <div class="recipe-details">
            <div class="ingredients">
                <h3>Ingredients</h3>
                <p>{{ recipe.ingredients | safe }}</p>
            </div>
            <div class="instructions">
                <h3>Instructions</h3>
                <p>{{ recipe.instructions | safe }}</p>
            </div>
        </div>
    </div>
{% endblock %}

