{% load static %}

<footer>
    <!-- Social media icons section -->
    <div id="social-networks">
        <p>Find us <i class="fa-regular fa-hand-point-down" style="transform: rotate(270deg); margin-right: 10px;"></i></p>

        <!-- Social media icons container -->
        <div class="social-media-icons-footer-container">
            <a href="https://www.linkedin.com/" class="social-media-icon-link" target="_blank" rel="noopener" aria-label="linkedIn - Opens in a new tab">
                <i class="social-media-icon fa-brands fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/" class="social-media-icon-link" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
                <i class="social-media-icon fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/" class="social-media-icon-link" target="_blank" rel="noopener" aria-label="Facebook - Opens in a new tab">
                <i class="social-media-icon fa-brands fa-facebook"></i>
            </a>
            <a href="https://x.com/" class="social-media-icon-link" target="_blank" rel="noopener" aria-label="Twitter - Opens in a new tab">
                <i class="social-media-icon fa-brands fa-twitter"></i>
            </a>
        </div>
    </div>

    <!-- Copyright information -->
    <p class="copy-right-text">Copyright © Dishcover 2024</p>


</footer>


