{% load static %}

<footer>
    <!-- Social media icons -->
    <!-- <div id="overlay"></div> -->
    <div id="social-networks">
        <p>Find us <i class="fa-regular fa-hand-point-down" style="transform: rotate(270deg); margin-right: 10px;"></i></p>
        <div class="social-media-icons-footer-container">
            <a href="" class="social-media-icon-link" target="_blank" rel="noopener" aria-label="linkedIn - Opens in a new tab">
                <!-- <img src="{% static '/icons/linkedin-app-icon.svg' %}" alt="LinkedIn Icon" class="social-icon"> -->
                <i class="social-media-icon fa-brands fa-linkedin"></i>
            </a>
            <a href="" class="social-media-icon-link" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
                <!-- <img src="{% static '/icons/ig-instagram-icon.svg' %}" alt="Instagram Icon" class="social-icon"> -->
                <i class="social-media-icon fa-brands fa-instagram"></i>
            </a>
            <a href="" class="social-media-icon-link" target="_blank" rel="noopener" aria-label="Facebook - Opens in a new tab">
                <!-- <img src="{% static '/icons/facebook-round-color-icon.svg' %}" alt="Facebook Icon" class="social-icon"> -->
                <i class="social-media-icon fa-brands fa-facebook"></i>
            </a>
            <a href="" class="social-media-icon-link" target="_blank" rel="noopener" aria-label="Twitter - Opens in a new tab">
                <!-- <img src="{% static '/icons/twitter-color-icon.svg' %}" alt="Twitter Icon" class="social-icon"> -->
                <i class="social-media-icon fa-brands fa-twitter"></i>
            </a>
        </div>
    </div>
    <p class="copy-right-text">Copyright © Dishcover 2024</p>


</footer>
<!-- Font Awesome kit -->
<script src="https://kit.fontawesome.com/7fa9dd4cad.js" crossorigin="anonymous"></script>

