{% load static %}


<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        <!-- Logo -->
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Navigation items -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'recipes' %}active{% endif %}" aria-current="page" href="{% url 'recipes' %}">Recipes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'add_recipes' %}active{% endif %}" href="{% url 'add_recipes' %}">Add Recipe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link {% if url_name == 'favorites' %}active{% endif %}" href="{% url 'favorites' %}">favorites</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'my_recipes' %}active{% endif %}" href="{% url 'my_recipes' %}">My Recipes</a>
              </li> -->
              <!-- {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_signup' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
              </li>
              {% endif %} -->
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-user" aria-hidden="true"></i> {{ user }}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item {% if url_name == 'my_recipes' %}active{% endif %}" href="{% url 'my_recipes' %}">My Recipes</a></li>
                    <li><a class="dropdown-item {% if url_name == 'favorites' %}active{% endif %}" href="{% url 'favorites' %}">My favorites</a></li>
                    <li><a class="dropdown-item {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a></li>
                </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_signup' %}">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                  </li>
                {% endif %}
            </ul>
            <!-- Search bar form -->
            <form class="d-flex" method="GET" role="search" action="{% url 'recipes' %}">
                <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</header>