{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} <!-- Load for better form rendering -->

{% block content %}
<!-- Main container for the about page content -->
<div class="container mt-5 about-container">

  <div class="row">
    <!-- Profile image section -->
    <div class="col-12 col-md-4 text-center">
      {% if "placeholder" in about.profile_image.url %}
      <!-- Display a placeholder image if the actual profile image is a placeholder -->
      <img src="{% static 'images/nobody.jpg' %}" class="profile-image"
        alt="placeholder image" >
      {% else %}
      <!-- Display the actual image -->
      <img src="{{ about.profile_image.url }}" class="profile-image"
        alt="{{ about.title }}" width="100%">
      {% endif %}
    </div>

    <!-- About text section -->
    <div class="col-12 col-md-8 about-text">
      <!-- Title of about section -->
      <h2>{{ about.title }}</h2>
      <!-- Content of the about section -->
      {{ about.content | safe }}
    </div>
  </div>

  <!-- Section for displaying the last updated date -->
  <div class="row">
    <div class="col text-right">
      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>

  <!-- Collaboration section -->
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 my-5 collaborate-form">
        <h2>Let's collaborate!</h2>
        <p>I believe in the power of shared knowledge and collective effort.
            Whether you have a project in mind, wish to co-author
            an article, or simply want to brainstorm some ideas,
            I'm excited to hear from you. Fill out the form
            and we can get the ball rolling!</p>

        <!-- Collaboration form -->
        <form method="post">
        {{ collaborate_form | crispy }} <!-- Render the form using crispy forms -->
        {% csrf_token %} <!-- CSRF token for security -->
        <div class="form-button-container">
          <button type="submit" class="btn btn-secondary">Submit</button> <!-- Submit button for the form -->
        </div>
        </form>
    </div>
  </div>  
</div>
{% endblock content %}
