/* Google fonts import  */
@import url('https://fonts.googleapis.com/css2?family=Geologica:slnt,wght@-12..0,100..900&family=Mooli&display=swap');




html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Geologica, sans-serif;
}

.body-content {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1;
    justify-content: center;
    align-items: center; */
}

main {
    flex: 1 0 auto;
    /* background-color: rgb(158, 158, 158); */
    background-color: rgb(225,105,51);
    /* background: linear-gradient(0deg, rgba(232,49,0,1) 0%, rgba(255,105,51,1) 25%, rgba(255,165,112,1) 100%); */
    /* display: flex;
    flex-direction: column; */
    
}

/* Header */
.navbar {
    background-color: #2d4628eb;
    box-shadow: 1px -1px 7px 0 #FAD074;
}

a.nav-link {
    color:#faf4c1;
    font-family: Geologica, sans-serif;
}

.navbar-nav  .nav-link.active {
    color: rgb(232,49,0);
}

.nav-link:hover {
    color: rgb(232,49,0);
}


/* Footer */
footer {
    flex-shrink: 0;
    background-color: #c5c5c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000;
}


.social-icon {
    height: 2rem;
    margin: 1rem;
}

#social-networks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* signing in,out,up */
.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}


/* Home page */

.main-text{
    font-size: 1.4rem;
    font-weight: 300;
    padding-bottom: 20px;

}

.image-container {
    position: relative;
    width: 50%;
    border-radius: 20px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 20px;
  }
  
  .middle {
    align-content: center;
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    width: 92%;
    height: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    text-align: center;
    background-color: #000000aa;
  }
  
  
  .image-container:hover .middle {
    opacity: 1;
    /* background-color: #000000df; */
    height: 100%;
    border-radius: 20px;


  }
  
  .text {
    /* background-color: #000000; */
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }



/* Add recipe form */
.form {
    width: 80%;
    margin: 3% auto;
    border-radius: 5px;
    box-shadow: 1px -1px 7px 0 #000000;
    background-color: #40573d;
}

/* Recipes.html */

.recipes {
    text-decoration: none;
    color: #000;
}

.card {
    height: 90%;
    margin-top: 1rem;
}

.img-fixed-size {
    height: 212px;
    object-fit: cover;
}

.recipes:hover {
    cursor: pointer;
}

.add-recipe-link {
    align-self: center;
    position: sticky;
    top: 40px;
    z-index: 1000;
    padding: 10px 50px;
    border-color: brown;
    background-color: #facf74c9;
    font-size: 2rem;
}

.filtering {
    width: 20%;
    margin: 20px;
}

.filtering .form-selecter {
    background-color: #188181;
}

/* Recipe details */


.recipe-main-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-details {
    display: flex;
    flex-direction: column;
}

.ingredients, .instructions, .recipe-info {
    width: 100%;
}

/* .recipe-title {
    margin: 20px;
} */

.recipe-pic {
    width: 100%;
    height: auto;
}


/* About */

.profile-image {
    width: 100%;
}



@media screen and (min-width: 62.5em) {

    .recipe-main-details{
        flex-direction: row;
        border: 1px solid orangered;
        border-radius: 5px;
    }

    .recipe-image {
        width: 40%;
        /* margin: 0 auto; */
    }

    .recipe-info {
        width: 60%;
        padding: 2rem;
    }

    .recipe-details {
        margin: 2rem auto;
        flex-direction: row;
    }

    .ingredients {
        width: 40%;
        border-right: 2px solid orangered
    }
    .instructions {
        width: 55%;
    }
}

